# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ammar\Desktop\UCSI-Semester_2\CC109 - Java Programming 2\Assignments\Assignment 1 - operators\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
